#buttons {
	float: left;
}

#content {
	float: right;
}

h2 {
    width: 10em;
    border: 3px outset black;
    background-color: lightgray;
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

.wrapped {
    border: 3px solid red;
    padding: 2px;
}