.text {
    font-family: sans-serif;
    width: 600px;
    margin-top:2em;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
}

.pullquote {
    float: right;
    clear: right;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    background-color: #DDD;
    border-radius: 10px;
    margin: 20px 0 10px 10px;
    font-style: italic;
}
